<div class="signinpanel">

    <div class="row">

        <div class="col-md-7">

            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> {{title}} <span>]</span></h1>
                </div><!-- logopanel -->
                <strong>Not a member? <a href="signup.html">Register</a></strong>
            </div><!-- signin0-info -->

        </div><!-- col-sm-7 -->

        <div class="col-md-5">
            <form>

                <label class="error" ng-model="loginErrMsg">{{loginErrMsg}}</label>
                <h4 class="nomargin">Sign In</h4>
                <p class="mt5 mb20">Login to access your account.</p>
                <input type="text" class="form-control uname" placeholder="Username" ng-model="user.username"/>
                <input type="password" class="form-control pword" placeholder="Password" ng-model="user.password"/>
                <a href="">
                    <small>Forgot Your Password?</small>
                </a>
                <button class="btn btn-success btn-block" ng-click="onSubmit()">Sign In</button>
            </form>
        </div><!-- col-sm-5 -->

    </div><!-- row -->

    <div class="signup-footer">
        <div class="pull-left">
        </div>
    </div>

</div><!-- signin -->
